<?xml version="1.0"?>
<terp>
    <data>
        <record model="ir.ui.view" id="menu_view_tree_tree">
            <field name="name">ir.ui.menu.tree.tree</field>
            <field name="model">ir.ui.menu</field>
            <field name="type">tree</field>
            <field name="arch" type="xml">
	      <![CDATA[
                <tree string="Menu" toolbar="1">
                    <field name="name" icon="icon"/>
                </tree>
		]]>
            </field>
            <field name="field_parent">child_id</field>
        </record>
        <record model="ir.actions.act_window" id="act_menu_tree">
            <field name="name">Menu</field>
            <field name="res_model">ir.ui.menu</field>
            <field name="view_type">tree</field>
            <field name="usage">menu</field>
            <field name="domain" eval="'[(\'parent_id\',\'=\',False)]'"/>
        </record>
        <record model="ir.actions.act_window.view"
            id="act_menu_tree_view1">
            <field name="sequence" eval="1"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="menu_view_tree_tree"/>
            <field name="act_window_id" ref="act_menu_tree"/>
        </record>
        <record model="ir.ui.view" id="menu_view_tree">
            <field name="name">ir.ui.menu.tree</field>
            <field name="model">ir.ui.menu</field>
            <field name="type">tree</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
	      <![CDATA[
                <tree string="Menu">
                    <field name="complete_name" icon="icon"/>
                </tree>
		]]>
            </field>
        </record>
        <record model="ir.ui.view" id="menu_view_form">
            <field name="name">ir.ui.menu.form</field>
            <field name="model">ir.ui.menu</field>
            <field name="type">form</field>
            <field name="arch" type="xml">
	      <![CDATA[
                <form string="Menu">
                    <field name="complete_name"/>
                    <field name="name" select="1"/>
                    <field name="sequence"/>
                    <field name="parent_id" colspan="4" select="1"/>
                    <field name="action"/>
                    <field name="groups_id" colspan="4"/>
                    <field name="icon"/>
                </form>
		]]>
            </field>
        </record>
        <record model="ir.actions.act_window" id="act_menu_form">
            <field name="name">Menus</field>
            <field name="res_model">ir.ui.menu</field>
            <field name="view_type">form</field>
        </record>
        <record model="ir.actions.act_window.view"
            id="act_menu_form_view1">
            <field name="sequence" eval="1"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="menu_view_tree"/>
            <field name="act_window_id" ref="act_menu_form"/>
        </record>
        <record model="ir.actions.act_window.view"
            id="act_menu_form_view2">
            <field name="sequence" eval="2"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="menu_view_form"/>
            <field name="act_window_id" ref="act_menu_form"/>
        </record>
        <menuitem name="Administration/IR/UI/"
            action="act_menu_form" id="menu_menu_form"/>
    </data>
</terp>
